.start {
    padding: 120px 0;
    background-color: $main-color2;

    &__wrapper {
        margin-top: 0;
        width: 100%;
    }

    &__item {
        max-width: 695px;
        margin-top: 0;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 95%;
        text-transform: uppercase;
        text-align: left;
    }

    &__list {
        margin-top: 60px;

        li {
            padding: 7px 0;
            font-weight: 400;
            font-size: 32px;
            line-height: 119%;
            text-align: left;
            color: $main-color3;

            &::before {
                content: "—";
                position: relative;
                left: -8px;
            }
        }
    }

    &__button {
        align-self: flex-start;
        margin-top: 77px;
        background-color: $main-color2;
    }

    &-feed-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 39.2%;
        max-width: 626px;

        &__input {
            width: 100%;
            height: 62px;
            border: none;
            margin-bottom: 40px;
            padding: 20px 0;
            border-bottom: 1px solid $main-color3;
            font-weight: 400;
            font-size: 32px;
            line-height: 119%;
            color: $main-color3;
            outline: none;
            background-color: $main-color2;

            &::placeholder {
                font-weight: 400;
                font-size: 32px;
                color: $main-color3;
            }

            &:focus::placeholder {
                color: transparent;
                transition: all 0.4s;
            }
        }

        &__hidden {
            display: none;
        }

        &__checkbox {
            position: relative;
            margin-right: 12px;
            min-width: 24px;
            min-height: 24px;
            background: $main-color2;
            border: 1px solid $main-color3;

            &::before {
                content: "";
                position: absolute;
                top: 2px;
                left: 3px;
                width: 16px;
                height: 17px;
                transition: all 0.4s;
            }
        }

        &__hidden:checked + &__checkbox {
            &::before {
                background: url("../img/icons/check.svg") center / cover no-repeat;
            }
        }

        &__policy {
            display: flex;
            align-items: flex-start;
            width: 100%;
        }

        &__introduction {
            width: 600px;
            font-weight: 400;
            font-size: 24px;
            line-height: 125%;
            color: $main-color3;
            text-decoration: none;
        }

        &__error-box {
            margin-top: 20px;
        }
    }
}

label.error {
    margin-bottom: 20px;
    color: $main-color1;
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

    .start {
        &__list {
            li {
                font-size: 30px;
            }
        }

        &__item {
            max-width: 695px;
        }

        &-feed-form {
            &__input {
                font-size: 30px;

                &::placeholder {
                    font-size: 30px;
                }
            }

            &__introduction {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .start {
        &__list {
            margin-top: 40px;

            li {
                font-size: 28px;
            }
        }

        &-feed-form {
            width: 42%;

            &__introduction {
                font-size: 20px;
            }

            &__input {
                font-size: 28px;

                &::placeholder {
                    font-size: 28px;
                }
            }
        }

        &__item {
            max-width: 695px;
        }

        &__title {
            font-size: 34px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .start {
        padding: 80px 0;

        &__wrapper {
            margin-top: 0;
        }

        &__list {
            margin-top: 40px;

            li {
                font-size: 24px;
            }
        }

        &-feed-form {
            width: 45%;

            &__introduction {
                font-size: 18px;
            }

            &__input {
                font-size: 26px;

                &::placeholder {
                    font-size: 26px;
                }
            }
        }

        &__item {
            max-width: 695px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .start {
        &__wrapper {
            margin-top: 0;
        }

        &__list {
            margin-top: 25px;
        }

        &__item {
            max-width: 690px;
        }

        &__title {
            line-height: 135%;
        }

        &-feed-form {
            width: 48%;
        }

        &__button {
            margin-top: 50px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .start {
        padding: 60px 0 80px;

        &__wrapper {
            margin-top: 0;
            flex-direction: column;
        }

        &__item {
            width: 100%;
        }

        &-feed-form {
            width: 100%;
            max-width: 500px;
            margin-top: 23px;

            &__introduction {
                font-size: 16px;
                line-height: 164%;
            }

            &__input {
                height: 55px;
                margin-bottom: 32px;
                font-size: 22px;

                &::placeholder {
                    font-size: 22px;
                }
            }

            &__policy {
                align-items: center;
                margin-top: -10px;
            }
        }

        &__title {
            font-size: 36px;
            line-height: 156%;
        }

        &__list {
            margin-top: 0;

            li {
                font-size: 22px;
                line-height: 155%;
            }
        }

        &__button {
            width: 100%;
            max-width: 389px;
            margin-top: 35px;
        }
    }
}

@media (max-width: 429px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .start {
        &__list {
            margin-top: 15px;

            li {
                font-size: 20px;
            }
        }

        &-feed-form {
            &__introduction {
                font-size: 16px;
                line-height: 140%;
            }

            &__input {
                font-size: 20px;

                &::placeholder {
                    font-size: 20px;
                }
            }
        }
    }
}