.peak {
    padding-bottom: 120px;
    background-color: $main-color2;

    /* &__wrapper {
        display: grid;
        margin-top: 80px;
        grid-template-columns: repeat(4, minmax(379px, auto));
        grid-template-rows: repeat(3, minmax(185px, auto));
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        align-items: center;
        justify-items: center;
        row-gap: 30px;
        column-gap: 30px;
    }

    &__label {
        &_mifi {
            grid-column: 1 / 2;
        }

        &_mfti {
            grid-column: 4 / 5;
        }

        &_sct {
            grid-column: 4 / 5;
        }
    } */

}