.answers {
    min-height: 194px;
    padding: 80px 0 120px 0;
    background-color: $main-color2;

    &__border {
        border-bottom: 1px solid $main-color1;
    }

    &-list {
        min-width: unset;
        max-width: 100%;
    }
}