.grey-block {
    display: flex;
    margin-top: 80px;
    align-items: flex-start;
    justify-content: space-between;

    &__item {
        margin-top: 54px;
        max-width: 626px;
        overflow: hidden;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 125%;
        text-align: right;
        color: $main-color3;
    }

    &__descr {
        margin-top: 60px;
        font-weight: 400;
        font-size: 24px;
        line-height: 146%;
        text-align: justify;
        color: $main-color3;
    }
}

@media (max-width: 1679px) {

    .container {
        max-width: 1320px;
    }

    .grey-block {

        &__item {
            max-width: 600px;
        }
    
        &__title {
            font-size: 39px;
        }
    }
}
@media (max-width: 1440px) {

    .container {
        max-width: 1120px;
    }

    .grey-block {

        &__item {
            max-width: 495px; 
        }
    
        &__title {
            font-size: 36px;
        }
    
        &__descr {
            font-size: 22px;
        }

    }
}

@media (max-width: 1200px) {

    .container {
        max-width: 968px;
    }

    .grey-block {
        margin-top: 65px;

        &__item {
           max-width: 447px;
        }
    
        &__title {
            font-size: 32px;
        }
    
        &__descr {
            font-size: 20px;
        }

    }
}
@media (max-width: 992px) {

    .container {
        max-width: 720px;
    }

    .grey-block {
        margin-top: 45px;

        &__item {
           max-width: 320px;
        }
    
        &__title {
            font-size: 29px;
        }
    
        &__descr {
            margin-top: 40px;
        }
    }
}

@media (max-width: 768px) {  

    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .grey-block {
        margin-top: 31px;
        align-items: center;
        flex-direction: column;

        &__item {
            margin-top: 0;
            max-width: 100%;
        }
    
        &__title {
            font-size: 32px;
            line-height: 131%;  
            text-align: left;
        }
    
        &__descr {
            margin-top: 22px;
            font-size: 16px;
            line-height: 162%;
        }
    }
}

@media (max-width: 429px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .grey-block {
        margin-top: 31px;
        align-items: center;
        flex-direction: column;
    
        &__title {
            font-size: 25px;
        }
    
        &__descr {
            margin-top: 22px;
            font-size: 16px;
            line-height: 162%;
        }

    }
}