.targets {
    background-color: $main-color2;

    &__bg {
        background-color: $main-color1;

        &_pb120 {
            padding-bottom: 120px;
        }

        &_mc2 {
            background-color: $main-color2;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 120px 0;

        &_pt80 {
            padding-top: 80px;
        }

        &_pb80 {
            padding-bottom: 80px;
        }

        &_bgmc2 {
            background-color: $main-color2;
        }

        &_bgmc1 {
            background-color: $main-color1;
        }
    }

    &__video {
        width: 788px;
        height: 550px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 626px;
        min-height: 230px;

        &_mh300 {
            min-height: 300px;
        }

        &_mh210 {
            min-height: 210px;
        }

        &_mh250 {
            min-height: 250px;
        }
    }

    &__top {
        font-weight: 700;
        font-size: 40px;
        line-height: 125%;
        color: $main-color3;

        &_mc2 {
            color: $main-color2;
        }
    }

    &__descr {
        font-weight: 400;
        font-size: 24px;
        line-height: 146%;
        text-align: justify;
        color: $main-color3;

        &_mc2 {
            color: $main-color2;
        }
    }

    &__btn {
        display: block;
        max-width: 429px;
        margin: 0 auto;
        border: 1px solid #424242;
        padding: 26.5px 40px;
        border-radius: 35px;
        color: #424242;
        font-size: 24px;
        font-weight: 700;
        line-height: 60%;
        text-transform: uppercase;
    }
}

/* .mejs-controls .mejs-play button,
.mejs-controls .mejs-pause button {
    background: url('../img/icons/mediaplayer/main-play.svg');
} */

.mejs__inner .mejs__overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -82px;
    width: 158px;
    height: 158px;
    background: url("../img/icons/mediaplayer/main-play.svg") no-repeat;
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

    .targets {
        &__video {
            width: 710px;
            height: 490px;
        }

        &__item {
            max-width: 485px;
            min-height: 185px;

            &_mh250 {
                min-height: 230px;
            }

            &_mh210 {
                min-height: 180px;
            }

            &_mh300 {
                min-height: 320px;
            }
        }

        &__top {
            font-size: 37px;
        }

        &__descr {
            font-size: 22px;
        }
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .targets {
        &__video {
            width: 600px;
            height: 400px;
        }

        &__item {
            max-width: 440px;
            min-height: 185px;

            &_mh250 {
                min-height: 230px;
            }

            &_mh210 {
                min-height: 200px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .targets {
        &__video {
            width: 510px;
            height: 310px;
        }

        &__item {
            max-width: 405px;
            min-height: 175px;

            &_mh250 {
                min-height: 255px;
            }

            &_mh210 {
                min-height: 180px;
            }

            &_mh300 {
                min-height: 320px;
            }
        }

        &__top {
            font-size: 35px;
        }

        &__descr {
            font-size: 20px;
        }

        &__btn {
            max-width: 375px;
            padding: 26px 40px;
            font-size: 20px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .targets {
        &__bg {
            &_pb120 {
                padding-bottom: 100px;
            }
        }

        &__wrapper {
            padding: 100px 0;

            &_pt80 {
                padding-top: 60px;
            }

            &_pb80 {
                padding-bottom: 60px;
            }
        }

        &__video {
            width: 415px;
            height: 250px;
        }

        &__item {
            max-width: 275px;
            min-height: 175px;

            &_mh250 {
                min-height: 270px;
            }

            &_mh210 {
                min-height: 165px;
            }

            &_mh300 {
                min-height: 290px;
            }
        }

        &__top {
            font-size: 30px;
        }

        &__descr {
            font-size: 18px;
        }

        &__btn {
            max-width: 375px;
            padding: 26px 40px;
            font-size: 20px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .targets {
        &__bg {
            &_pb120 {
                padding-bottom: 83px;
            }
        }

        &__wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: unset;
            padding: 0;
            padding-top: 80px;
            padding-bottom: 80px;

            &_pt80 {
                padding-top: 40px;
            }

            &_pb80 {
                padding-bottom: 40px;
            }
        }

        &__item {
            max-width: 100%;
            min-height: unset;
            margin-top: 40px;

            &_mobmt0 {
                margin-top: 0;
            }
        }

        &__video {
            width: 100%;
            max-width: 550px;
            height: 272px;

            &_mobmt40 {
                margin-top: 40px;
            }
        }

        &__top {
            font-size: 32px;
            line-height: 131%;
        }

        &__descr {
            margin-top: 5px;
            font-size: 16px;
            line-height: 162%;
        }

        &__btn {
            max-width: 390px;
            padding: 27px 35px;
            font-size: 22px;
        }
    }
}

@media (max-width: 429px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .targets {
        &__btn {
            max-width: 280px;
            padding: 22px 16px;
            font-size: 17px;
        }

        &__top {
            font-size: 30px;
        }

        &__descr {
            font-size: 16px;
        }
    }
}