.section-header {
    &__border {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $main-color3;
        min-height: 194px;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 125%;
        text-transform: uppercase;
        text-align: center;
        color: $main-color3;
    }
}

@media (max-width: 1679px) {

    .container {
        max-width: 1320px;
    }
}
@media (max-width: 1440px) {

    .container {
        max-width: 1120px;
    }
}

@media (max-width: 1200px) {

    .container {
        max-width: 968px;
    }

    .section-header {
        &__title {
            font-size: 42px;
        }
    }
}
@media (max-width: 992px) {

    .container {
        max-width: 720px;
    }

    .section-header {

        &__border {
            min-height: 175px;
        }
        
        &__title {
            font-size: 32px;
        }
    }
}
@media (max-width: 768px) {  

    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .section-header {
        &__border {
            min-height: 217px;
        }
        
        &__title {
            font-size: 36px;
            line-height: 156%;
        }
    }
}

@media (max-width: 429px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .section-header {
        
        &__title {
            font-size: 32px;
        }
    }
}