.articles {
    padding-bottom: 80px;
    background-color: $main-color1;

    &__border {
        border-bottom: 1px solid $main-color2;
    }

    &__title {
        color: $main-color2;
    }

    &__arrwrapp {
        display: none;
    }

    &__wrapper {
        margin-top: 80px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        width: 100%;

        &_m-visible {
            display: none;
        }
    }

    &-item {
        width: 31.5%;
        border: 1px solid $main-color2;
        cursor: pointer;
        text-decoration: none;

        &__body {
            padding: 31px 40px;
        }

        &__descr {
            font-weight: 700;
            font-size: 32px;
            line-height: 119%;
            color: $main-color2;
        }

        &__img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .articles {
        &-item {
            &__descr {
                font-size: 26px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .articles {
        padding-bottom: 60px;

        &__wrapper {
            margin-top: 40px;
        }

        &-item {
            &__body {
                padding: 25px;
            }

            &__descr {
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .articles {
        &__content {
            &_m-visible {
                display: flex;
            }
        }

        &-item {
            width: 345px;
            min-width: 35vmax;

            &_m-hidden {
                display: none;
            }

            &__body {
                padding: 20px 11px;
            }

            &__descr {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .articles {
        padding-bottom: 80px;

        &__arrwrapp {
            display: flex;
            width: 100%;
            max-width: 410px;
        }

        &__wrapper {
            margin-top: 0;
        }

        &__border {
            min-height: 105px;
        }

        &__content {
            display: none;
            flex-direction: column;
            align-items: center;

            &__content {
                &_m-visible {
                    display: none;
                }
            }

            &_active {
                display: flex;
            }
        }

        &-item {
            width: 100%;
            max-width: 505px;
            margin-top: 40px;

            &_m-hidden {
                display: block;
            }

            &__body {
                padding: 40px;
            }

            &__descr {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 429px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .articles {
        &-item {
            &__body {
                padding: 20px;
            }
        }
    }
}