@font-face {
    font-family: 'Tilda Sans';
    font-display: swap;
    src:url('../fonts/TildaSans-Bold.woff') format('woff'),
        url('../fonts/TildaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tilda Sans';
    font-display: swap;
    src:url('../fonts/TildaSans-Regular.woff') format('woff'),
        url('../fonts/TildaSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}